@charset "UTF-8";
* {
  box-sizing: border-box;
}
footer {
  width: 100%;
  height: 150px;
  background-color: rgb(33, 37, 41);
  display: inline-block;
  position: relative;
  margin-bottom: -7px;
}
#footer_info {
  color: white;
  font-size: 12px;
  list-style: none;
  position: absolute;
  left: 20px;
  top: 25px;
}
#footer_nav {
  color: white;
  font-size: 14px;
  position: absolute;
  right: 20px;
  bottom: 5px;
  display: inline-block;
}
#footer_nav ul li {
  float: left;
  margin-right: 15px;
}
#footer_tractor {
  display: none;
}

@media all and (min-width:768px) {
  #footer_info {
    font-size: 14px;
    line-height: 1.5;
  }
  #footer_nav {
    font-size: 20px;
    position: absolute;
    right: 20px;
    bottom: 10px;
  }
  #footer_nav ul li {
    margin-right: 25px;
  }
  #footer_tractor {
    position: absolute;
    display: inline-block;
    font-size: 40px;
    color: white;
    right: 120px;
    bottom: 70px;
  }
}

@media all and (min-width:1024px) {
  #footer_info {
    font-size: 16px;
    line-height: 1.5;
  }
  #footer_nav {
    font-size: 24px;
    position: absolute;
    right: 20px;
    bottom: 36px;
  }
  #footer_tractor {
    position: absolute;
    display: inline-block;
    font-size: 40px;
    color: white;
    right: 370px;
    bottom: 25px;
  }
}