/* 모바일 버전 */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box !important;
}
#board_customer {
	height: 750px;
	padding: 30px 0;
}
h2 {
	text-align: center;
	font-size: 30px !important;
	margin: 20px 0 20px !important;
	border-bottom: 2px solid;
	border-bottom-color: #00b359;
	padding: 15px 0;
}

#table {
	margin-bottom: 25px !important;
}

th, td {
	text-align: center !important;
	font-size: 12px;
}

td a {
	color: black;
	text-decoration: none;
}

td a:hover {
	color: black;
	text-decoration: none;
}

#col_first {
	width: 15%;
}

#col_third {
	width: 17%;
}

#col_fourth {
	width: 17%;
}

#col_last {
	width: 15%;
}

.pagination {
	display: block !important;
	text-align: center !important;
	margin-top: 10px;
}

.page-item {
	display: inline-block !important;
}

.page-link {
	background-color: #343a40 !important;
	color: white !important;
	border-color: #343a40 !important;
}

#search_box {
	width: 170px !important;
	margin-bottom: 10px !important;
	float: right;
}

.input-group-text img {
	width: 20px;
	height: 20px;
}

#submit_board {
	float: right;
	width: 80px;
	height: 30px;
	font-size: 12px;
	line-height: 90%;
}
footer {
	margin-bottom: -7px;
}

/* 태블릿 */
@media all and (min-width:768px) {
	#search_box {
		width: 200px !important;
	}
	#submit_board {
		width: 90px;
		height: 35px;
		font-size: 16px;
		line-height: 90%;
	}
}

@media all and (min-width:1024px) {
	#col_first {
		width: 80px;
	}
	#col_third {
		width: 150px;
	}
	#col_fourth {
		width: 80px;
	}
	#col_last {
		width: 80px;
	}
}