@charset "UTF-8";
/* 모바일 버전 */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box !important;
}
#container_saveForm {
	height: 750px;
	width: 80%;
	padding: 50px 0 100px;
}
h2 {
	text-align: center;
	font-size: 30px !important;
	margin: 20px 0 70px !important;
	padding: 15px 0;
}
#btn-save {
	float: right;
	margin-bottom: 50px;
	color: black !important;
	background-color: white !important;
	border-color: black !important;
}
#btn-save:hover {
	color: white !important;
	background-color: #344D67 !important;
	border-color: #344D67 !important;
}
footer {
	margin-top: 50px;
	margin-bottom: -5px;	
}
#form_total {
	border-top: 2px solid #3fb491!important;
	padding-top: 10px;
	border-bottom: 2px solid #3fb491!important;
	padding-bottom: 20px;
	padding: 10px 20px !important;
	margin-bottom: 20px;
}

/* 태블릿 부터 PC */
@media all and (min-width:768px) {
	
}

@media all and (min-width:1024px) {
	#container_saveForm {
		width: 50%;
	}
}

