@charset "UTF-8";
/* 모바일 버전 */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box !important;
}
#container_saveForm {
	height: 750px;
	width: 85%;
	padding: 50px 0 100px;
}
h2 {
	text-align: center;
	font-size: 30px !important;
	margin: 20px 0 50px !important;
	border-bottom: 2px solid;
	border-bottom-color: #00b359;
	padding: 15px 0;
}
#btn-save {
	float: right;
	margin-bottom: 20px;
	color: black !important;
	background-color: #adb5bd !important;
	border-color: #adb5bd !important;
}
#btn-save:hover {
	color: white !important;
	background-color: #59646f !important;
	border-color: #59646f !important;
}
footer {
	margin-bottom: -5px;	
}

/* 태블릿 부터 PC */
@media all and (min-width:768px) {
	
}